body {
  background-color: hsl(30, 38%, 92%);
  font-family: 'Fraunces', serif;

  display: flex;
  justify-content: center;
}

main {
  display: flex;
}

#add-to-cart-btn {
  background-color: hsl(158, 36%, 37%);
}

footer {
  align-self: center;
  position: fixed;
  bottom: 0;
  padding: 16px;
}

p {
  font-size: 14px;
}

.grey-text {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
}