body {
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%);
}

footer {
  align-self: center;
  position: fixed;
  bottom: 0;
  padding: 16px;
}

p {
  font-size: 14px;
}