  @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

  * {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
  }

  body {
    height: 100vh;
    background-color: hsl(216, 12%, 8%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    max-width: 400px;
    max-height: auto;
    background-color: hsl(213, 19%, 18%);

    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: 25px;
  }

  #star-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: hsl(216, 12%, 23%);
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  #text-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 1rem;
  }
  #hero-text {
    color: white;
    font-size: 28px;
  }

  #rating-section {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
  }
  .rating-num {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: hsl(216, 12%, 23%);
    color: hsl(217, 12%, 63%);
    margin: 0;
    padding-top: 4px;
    border-radius: 50%;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  #submit-btn {
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    height: 40px;
    padding-top: 4px;
    cursor: pointer;
  }



  p {
    font-size: 15px;
  }

  .dark-grey-text {
    color: hsl(216, 12%, 54%);
  }

